.c1{
    font-size: 50px;
    color: red;
    font-weight:400px;
    padding-left:20px;

}
.c2{
    font-size:50px;
   font-weight:400px;
   padding-right:50px; 
}
.c3{
    font-size:20px;
    colour:blue;
    font-weight:200px;
    padding:10px 40px 60px 70px;
    height: 100px;
    width: 200px;
}
.parent{
    width:500px;
    height:500px;
    background-color:black;
}
.child1{
    width:100px;
    height:100px;
    background-color:gray;
}
.child2{
    width:100px;
    height:100px;
    background-color:blue;
}